# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish be committed to version control.
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.codespace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

# Exceptions to above rules.
!/packages/flutter_tools/test/flutter_release_bundle_data/app.flx
!/packages/flutter_tools/test/flutter_release_bundle_data/isolate_snapshot_data
!/packages/flutter_tools/test/flutter_release_bundle_data/kernel_blob.bin
!/packages/flutter_tools/test/flutter_release_bundle_data/vm_snapshot_data
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/fixtures/sksl_shader_lib/other.sksl
!/packages/flutter_tools/test/fixtures/sksl_shader_lib/platform.android.sksl
!/packages/flutter_tools/test/fixtures/sksl_shader_lib/platform.glsl
!/packages/flutter_tools/test/fixtures/sksl_shader_lib/platform.ios.sksl
!/packages/flutter_tools/test/fixtures/sksl_shader_lib/remove_precision_qualifier.glsl

# Web platform
lib/generated_plugins.dart

# Windows
windows/flutter/generated_plugins.cmake
windows/flutter/generated_include_guard.cmake
windows/flutter/generated_plugin_registrant.cmake

# Coverage
coverage/

# Symbols
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.gradle
/android/.gradle

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*.xcconfig
**/ios/**/*.xcworkspace
**/ios/**/.sconsign.dblite
**/ios/**/.tags
**/ios/**/.vagrant
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/.vagrant/
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/.last_build_id
**/ios/**/Info.plist
**/ios/**/LocalPackages
**/ios/**/Flutter/.last_build_id
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/.last_build_id

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift